h1{
    font-family: fantasy;
    font-size: 50px;
    color: white;
    text-align: center;
}
p{
    font-family: monospace;
    font-size: 20px;
}
.contact{
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
    
}
